<nav class="fixed-navbar">
  <div class="container-navbar">
   <%= image_tag("le-wagon-white.png", class: "logo-navbar") %>


    <ul class="navbar-menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">page a</a></li>
      <li><a href="#">page b</a></li>
      <li><a href="#">page c</a></li>
      <li><a href="#">page d</a></li>
    </ul>

  </div>
</nav>
