<%= partial "navbar" %>



<header class="main-header">
  <%= partial "fixed_navbar" %>


  <div class="left-header ">
    <h1>I am John Doe</h1>
    <p>And I'm a Photographer</p>
    <button>Hire me</button>
  </div>
  <div class="right-header ">
    <h1>I am John Doe</h1>
    <p>And I'm a Photographer</p>
    <button>Hire me</button>
  </div>

</header>

<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>

<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>



<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>


<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>

<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>

<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>

<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>

<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>


<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>


<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>


<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>


<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>


<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>


<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>



