<nav class="scroll-navbar">
  <div class="container">
   <%= image_tag("le-wagon-logo.png", class: "logo-navbar") %>


    <ul class="navbar-menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">page a</a></li>
      <li><a href="#">page b</a></li>
      <li><a href="#">page c</a></li>
      <li><a href="#">page d</a></li>
    </ul>

  </div>
</nav>
